<!DOCTYPE html>
<html>
<head lang="en">

    <title>About</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div><h3>EnergyHero</h3></div>
            <div>gibt dir die M&ouml;glichkeit deinen Energieverbrauch zu dokumentieren und vieles mehr...</div>
            
            <p>
                <div><a target="_blank" href="https://github.com/StrongSteve/EnergyHero">github.com/EnergyHero</a></div>
                <div>Version 0.1, 12/2016</div>
                
            </p>
        </div>
    </div>
</div>
</body>
</html>