<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>EnergyHero</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">Haushalt anlegen</div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${household}" th:action="@{/household}" method="post">
            <input type="hidden" th:field="*{userId}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}" th:errorclass="fieldError"/>
                        <td class="sr-only" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
                    </div>
                    <label class="col-sm-2 control-label">Wohnraum (m2):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{size}" th:errorclass="fieldError"/>
                        <td class="sr-only" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
                    </div>
                    <label class="col-sm-2 control-label">Anzahl der Bewohner:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{numberOfInhabitants}" th:errorclass="fieldError"/>
                        <td class="sr-only" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error message</td>
                    </div>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="row">
                    <input type="submit" value="Anlegen"/>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>