<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>EnergyHero</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><h3>Cockpit</h3></div>

        <div class="jumbotron">
            <div class="row text-center">
                <div>
                   ....:::: EnergyHero ::::....
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>